
APP_BIN  = hisi_rtsp
export ARCH=arm
export MPP_BUILD=n
export HIARCH?=hi3531
export LIBC?=glibc
export HIDBG?=HI_DEBUG
export HIGDB?=n
export FPGA?=n

ifeq ($(HIARCH),hi3520D)
	export HICHIP?=0x3520D100
	export ARCH_DIR?=hi3520D
endif

ifeq ($(HIARCH),hi3531)
export HICHIP?=0x35310100
endif

ifeq ($(HIARCH),hi3531)
export ARCH_DIR?=hi3531
endif

#export CVER?=.C01
export CVER?=.C02
export HI_FPGA:=HI_XXXX
export MPP_CFLAGS:= -Wall
#################
VER_X ?= 1
VER_Y ?= 0
VER_Z ?= 0
VER_P ?= 0
MPP_CFLAGS += -DVER_X=$(VER_X) -DVER_Y=$(VER_Y) -DVER_Z=$(VER_Z) -DVER_P=$(VER_P)


#HI3520D_BOARD=HQT
HI3520D_BOARD=DEMO

CC_OPT += -Iinclude 
export CROSS_COMPILE?=/opt/hisi-linux-nptl/arm-hisiv200-linux/bin/arm-hisiv200-linux-gnueabi-
export CROSS?=/opt/hisi-linux-nptl/arm-hisiv200-linux/bin/arm-hisiv200-linux-gnueabi-

export CC = $(CROSS_COMPILE)gcc
export AR = $(CROSS_COMPILE)ar
export LN = $(CROSS_COMPILE)g++
export CPP= $(CROSS_COMPILE)g++
export LD = $(CROSS_COMPILE)ld
export STRIP =$(CROSS_COMPILE)strip
